@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "CircularStd";
        font-weight: 200;
        src: url("/fonts/CircularStd-Book.otf");
    }

    @font-face {
        font-family: "CircularStd";
        font-weight: 500;
        src: url("/fonts/CircularStd-Medium.otf");
    }

    @font-face {
        font-family: "CircularStd";
        font-weight: 800;
        src: url("/fonts/CircularStd-Bold.otf");
    }

    * {
        box-sizing: border-box;
        @apply font-custom;
    }
}

@layer components {
    .navbar-item {
        @apply flex;
        @apply w-full;
    }

    .navbar-button {
        @apply gap-3;
        @apply p-3;
        @apply h-full;
        @apply w-full;
        @apply rounded-xl;
        @apply flex;
        @apply justify-start; 
        @apply items-center; 
        @apply font-semibold;
        @apply transition-all;

        &:hover:not(.active) {
            @apply bg-terciary_black;
            @apply rounded-full;
        }

        &.active {
            @apply bg-secondary_green;
            @apply text-text_hover;
    
            .navbar-icon {
                @apply bg-text_hover;
            }
        }

        .active .navbar-icon {
            transform: rotate(-180deg);
        }
    }

    .navbar-dropdown-list {
        @apply flex;
        @apply flex-col;
        @apply items-center;
        @apply max-w-full;
        @apply max-h-full;
        @apply pl-8;
        @apply text-white;
        @apply gap-1;
    }

    .base-icon {
        @apply flex;
        @apply w-6;
        @apply h-6;
        @apply bg-white;
        @apply transition-all;
    }

    .icon-grid {
        mask: url('/assets/grid_view.svg');
    }

    .icon-bolt {
        mask: url('/assets/bolt.svg');
    }

    .icon-event {
        mask: url('/assets/event.svg');
    }

    .icon-avaible {
        mask: url('/assets/event_available.svg');
    }

    .icon-past {
        mask: url('/assets/event_past.svg');
    }

    .icon-future {
        mask: url('/assets/event_future.svg');
    }

    .icon-list {
        mask: url('/assets/list_alt.svg');
    }

    .icon-map {
        mask: url('/assets/map.svg');
    }

    .icon-group {
        mask: url('/assets/group.svg');
    }

    .icon-campaign {
        mask: url('/assets/campaign.svg');
    }

    .icon-fact {
        mask: url('/assets/fact_check.svg');
    }

    .icon-settings {
        mask: url('/assets/settings.svg');
    }

    .icon-logout {
        mask: url('/assets/logout.svg');
    }

    .icon-add {
        mask: url('/assets/add_b.svg');
    }

    .icon-arrowD {
        mask: url('/assets/arrow_down_w.svg');
    }

    .navbar-icon {
        @apply flex;
        @apply w-6;
        @apply h-6;
        @apply bg-white;
        @apply transition-all;
        mask-position: center;
        mask-repeat: no-repeat;
    }

    .header-icon {
        @apply h-4;
        @apply w-4;
        @apply bg-text_hover;
        mask-repeat: no-repeat;
        mask-position: center;
    }

    
    .component {
        @apply grid;
        @apply rounded-2xl;
        @apply bg-primary_black;
    }

    .title-component {
        @apply px-6;
        @apply pt-4;
    }

    .donut-component {
        @apply w-full;
        @apply h-full;
        @apply flex;
        @apply justify-center;
        @apply items-center;
        @apply gap-2;
    }

    .donut-labels {
        @apply flex;
        @apply flex-col;
        @apply text-sm;
        @apply gap-2;
        @apply font-bold;
        @apply pb-4;
        @apply leading-4;
    }

    .table-container {
        @apply p-6;
        @apply w-full;
        @apply h-full;
    }

    .table-component {

        @apply text-base;
        @apply h-full;
        @apply w-full;

        .labels-table {
            @apply text-primary_orange;
            @apply text-sm;

            td {
                padding: 6px;
            }
        }

        .table-row {
            @apply py-2;

            td {
                padding: 6px 16px 6px 6px;
                @apply font-light;
            }
        }
    }

    .component-note {
        @apply text-sm;
        @apply opacity-60;
    }
}
